
{{#each produtos}}

<form action="http://localhost:8080/editar/update" method="POST" enctype="multipart/form-data">
    <div class="card" style="width: 60%; margin-left: 20%">
    <img src="/{{img}}" class="card-img-top" alt="...">
    <div class="card-body">
    
        <div class="form-row">
            <div class="col-md-9 mb-2">
                <label for="validationDefault01">Nome do Produto</label>
                <input type="text" class="form-control" id="produto" name="produto" value="{{produto}}" required>
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Preço</label>
                <input type="text" class="form-control" id="preco" name="preco" value="{{preco}}" required>
            </div>
                    
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Estoque</label>
                <input type="text" class="form-control" id="estoque" name="estoque" value="{{estoque}}" required>
            </div>
                <div class="col-md-6 mb-3">
                    <label for="exampleFormControlFile1">Trocar imagem</label>
                    <input type="file" class="form-control-file" id="file" name="file">
                </div>
            <div class="col-md-5 mb-3">
                <input type="hidden" value="{{id_produto}}" id="id" name="id">
            </div>      
            <div class="col-md-9 mb-4">
                <label for="validationDefault02">Descrisão do Produto</label>
                <textarea class="form-control" id="descrisao" name="descrisao" aria-label="With textarea" required>{{descrisao}}</textarea>
            </div>
        </div>
    
        <button class="btn btn-success">Salvar</button>
        <a href="http://localhost:8080/info/produto/{{id_produto}}" class="btn btn-dark">Cacelar</a>
        </div>
    </div>
</form>
{{/each}} 


