{{#each info}}
    <div class="card" style="width: 60%; margin-left: 20%">
      <img src="/{{img}}" class="card-img-top" alt="..." style="height: 350px; width: 910px;">
      <div class="card-body">
        <h5 class="card-title">{{produto}}</h5>
        <p class="card-text">{{descrisao}}</p>
        <div class="form-row">
          <label for="">Preço:</label>
          <p class="card-text">{{preco}}</p>
        </div>
        <a href="{{request_editar.url}}" class="btn btn-warning">Editar</a>
        <a href="http://localhost:8080/excluir/{{id_produto}}" class="btn btn-danger">Excluir</a>
        <a href="http://localhost:8080/listProduto" class="btn btn-dark">Voltar</a>
      </div>
    </div>
{{/each }}